.container {
    background-color: #009688;
    margin: 2px;
    color: #ffffff;
    font-family: "HelveticaNeue-Light";
    text-align: center;
    padding: 10px;
}

h1 {

    padding: 20px;

}

p {
    padding: 5px;
    font-size: medium;
}

ol {
    text-align: center;
    list-style-type: none;

}
.button {
    font-sizes: medium;
    display: block;
    height: auto;
    width: 70px;
    background: #ffffff;
    color: #009688;
    font-size: large;
    font: bold;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
    -webkit-border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;

}



a.button {
    text-decoration: none;
}

a.button:hover{

    background: #ff1510;
    color: #ffffff;

}

